.wrapper {
  background-color: var(--pcolor2, #8aa6a8);
  .banner {
    animation: scaleDown 1s ease-in-out;
    animation-delay: 0.5s;
    height: 700px;
  }
  .tab-item {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(43, 46, 52, 0.7);
    padding: 10px;
    border: 0;
    color: #ffffff;
    white-space: nowrap;
    transition: all 0.4s;
    &.active {
      background-color: var(--pcolor1, #8aa6a8);
    }
    &:hover {
      background-color: rgba(7, 152, 167, 0.22);
    }
  }
  .title {
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  }
  .item {
    position: relative;
    transition: all 0.9s;
    cursor: pointer;
    .image-wrapper {
      overflow: hidden;
      max-height: 237px;
      .image {
        transition: all 0.9s;
      }
    }
    .logo {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.41));
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding-left: 20px;
      padding-top: 80px;
      padding-right: 20px;
      padding-bottom: 35px;
      flex-direction: column;
      display: flex;
      text-align: center;
      align-items: center;
      height: auto;
      .image {
        object-fit: contain;
        width: 150px;
      }
    }
    &:hover {
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.19);
      .image-wrapper {
        .image {
          transform: rotate(-5deg) scale(1.2, 1.2);
        }
      }
    }
  }
  .text-with-line {
      display: flex;
      align-items: center;
      &::after {
          background-color: rgba(255, 255, 255, 0.5);
          height: 0.5px;
          width: 30px;
          margin-left: 10px;
          margin-right: 10px;
          content: "";
      }
  }
  .detail {
    margin-bottom: 40px !important;
    .detail-inner {
      width: 130px;
      display: flex;
      align-items: center;
    }
    .line {
      width: 54px;
      background-color: var(--pcolor1, #8aa6a8);
      height: 0.5px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .text {
      color: #000000;
      transition: all 0.4s;
    }
    &:hover {
      svg {
        animation: hiThere 1s ease infinite;
      }
      .line {
        animation: justLine 3s ease-out infinite;
        transform-origin: left;
      }
      .text {
        color: #8aa6a8;
      }
    }
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hiThere {
	30% {
		transform: scale(1.2);
	}
	40%,
	60% {
		transform: rotate(-12deg) scale(1.2);
	}
	50% {
		transform: rotate(12deg) scale(1.2);
	}
	70% {
		transform: rotate(0deg) scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes justLine {
	0% {
		transform: scale(0, 1);
	}
	
	75% {
		opacity:1;
	}
	100% {
		transform: scale(1, 1);
		opacity:0;
	}
}