.wrapper {
  background-color: var(--pcolor2, #8aa6a8);
  .banner {
    height: 600px;
  }
  .tab-item {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(43, 46, 52, 0.7);
    padding: 10px;
    border: 0;
    color: #ffffff;
    white-space: nowrap;
    transition: all 0.4s;
    &.active {
      background-color: var(--pcolor1, #8aa6a8);
    }
    &:hover {
      background-color: rgba(7, 152, 167, 0.22);
    }
  }
  .title {
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  }
}
