.wrapper {
  background-color: var(--pcolor2, #8aa6a8);
  .hero-image {
    animation: scaleDown 1s ease-in-out;
    animation-delay: 0.3s;
  }
  .title {
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  }
  .text-with-line {
      display: flex;
      align-items: center;
      &::after {
          background-color: rgba(255, 255, 255, 0.5);
          height: 0.5px;
          width: 50px;
          margin-left: 10px;
          margin-right: 10px;
          content: "";
      }
  }
  .progress-block {
    background-color: #8aa6a8;
    color: #ffffff;
    padding: 20px;
  }
  .progress-item {
    width: 380px !important;
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}