.wrapper {
    .text-with-line {
        display: flex;
        align-items: center;
        &::after {
            background-color: rgba(255, 255, 255, 0.5);
            height: 0.5px;
            width: 30px;
            margin-left: 10px;
            margin-right: 10px;
            content: "";
        }
    }
}