.wrapper {
    position: relative;
    transition: all 0.9s;
    cursor: pointer;
    .image-wrapper {
      overflow: hidden;
      max-height: 237px;
      .image {
        transition: all 0.9s;
      }
    }
    .logo {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.41));
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding-left: 20px;
      padding-top: 80px;
      padding-right: 20px;
      padding-bottom: 35px;
      flex-direction: column;
      display: flex;
      text-align: center;
      align-items: center;
      height: auto;
      .image {
        object-fit: contain;
        width: 150px;
      }
    }
    &:hover {
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.19);
      .image-wrapper {
        .image {
          transform: rotate(-5deg) scale(1.2, 1.2);
        }
      }
    }
  }