.wrapper {
    position: relative;
    overflow: hidden;
    transition: all 0.4s;
    cursor: pointer;
    .image {
      transition: all 0.4s;
      height: 100%;
    }
    .logo {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.41));
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding-left: 20px;
      padding-top: 80px;
      padding-right: 20px;
      padding-bottom: 35px;
      flex-direction: column;
      display: flex;
      text-align: center;
      align-items: center;
      height: auto;
      .image {
        object-fit: contain;
        width: 150px;
      }
    }
    .overlay {
      &::before {
        transform: scaleX(0);
        width: 100%;
        height: 94%;
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: #ffffff;
        border-bottom-style: solid;
        border-bottom-color: #ffffff;
        border-bottom-width: 1px;
        position: absolute;
        top: 3%;
        left: 0%;
        transition-duration: 0.6s;
        margin-top: auto;
        margin-bottom: auto;
        content: "";
      }
  
      &::after {
        transform: scaleY(0);
        width: 94%;
        height: 100%;
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: #ffffff;
        position: absolute;
        top: 0%;
        left: 3%;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: #ffffff;
        transition-duration: 0.6s;
        margin-left: auto;
        margin-right: auto;
        content: "";
      }
  
      &:hover {
        &::before, &::after {
          transform: scale(1) !important;
        }
      }
    }
    &:hover {
      transform: translateY(-15px);
      box-shadow: 0px 5px 58px rgba(0, 0, 0, 0.3);
      .image {
        transform: scale(1.1, 1.1);
      }
    }
  }